.Profile{
}
.wpimg_profile{
 border-right: 1px solid gray;
 padding: 130px 0;
}
.img_profile{
    text-align: center;
}

.img_pr{
    border:1px solid gray ;
    max-width: 300px;
    max-height: 300px;
}
.profile{
    border-right: 1px solid gray;
}